.keyword {
    -fx-fill: brown;
    -fx-font-weight: bold;
}

.single-quotes-string {
    -fx-fill: green;
    -fx-font-weight: bold;
}

.example-box {
    -fx-padding: 8;
    -fx-spacing: 8;
    -fx-alignment: top-center;
}